body  {
    font-family:Arial, Helvetica, sans-serif;
     background: url('img/do-alpha.png') no-repeat fixed center; 
        /* background-color: white;  */
    background-size: cover;   
}


h1 {
    color:black;
    /* text-align: center; */
    text-transform: uppercase;
    font-weight: bold;
    border: black;
}

div {
    /* border: 2px solid cyan; */
    padding: 5px;
}


/* .center-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.btn{
    font-weight: bold;
    font-style: italic;
    border-radius: 30px;
    text-transform:uppercase;
}

.btn-primary{
    background-color: orangered;
    /* border:5px outset gold; */
}

.btn-primary:hover{
    background: rgb(147, 218, 42);
    font-style: normal;
    /* border: 5px inset rgb(0, 238, 255); */
}

hr {
    /* border: 5px solid orangered; */
    /* background-color: gold; */
    /* border-radius: 5px; */
    max-width: 1000px; 
    /* max-width sẽ responsive, width thì không */
    margin: 10px auto;
    opacity: 90%;
}



/* hr:hover {
    background: rgb(147, 218, 42);
    border: 5px inset rgb(0, 238, 255);
} */

.khoangcach{
    height: 10rem;
}

.bg-pastel-1{
    background-color: #f0fbfe;
  }
  
  .bg-pastel-2{
    background-color: #e8faf8;
  }
  
  .bg-pastel-3{
    background-color: #f2f0ef;
  }
  
  .bg-pastel-4{
    background-color: #f9e1e5;
  }
  
  .table-responsive{
    height: 640px;
    overflow-y: auto;
    /* border:2px solid #444; */
  }
  
  .table-responsive:hover{border-color:rgb(188, 226, 255);}
  
  table{width:100%;}
  td{padding:1px; background:none;}


/* .sticky-footer{
    position: sticky;
} */

/* table tfoot {
    position: sticky;
    bottom: 0;
     z-index: 1; 
  }

  table tfoot tr {
    padding: 3px;
    width: 25vw;
    background: lightyellow;
  } */

  ::-webkit-scrollbar {
    display: none;
}